dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="canonical" href="/"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>SOVAMAX Lead Board</title>

    <meta name="keywords" content="sovamax leaderboard"/>
    <meta name="description" content="sovamax leaderboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:title" content="Sovamax Leaderboard"/>
    <meta property="og:description" content="LeaderBoard for Sovamax"/>
    <meta property="og:url" content="sovamax.com"/>
    <meta property="og:image" content="images/logo.png"/>
    <meta property="og:site_name" content="Sovamax"/>

    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png"/>
    <link rel="manifest" href="favicons/site.webmanifest"/>
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="shortcut icon" href="favicons/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png"/>
    <meta name="msapplication-config" content="favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Stylesheets-->
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/sweetalert2.min.css"/>
    <link href="css/main.min.css" rel="stylesheet"/>

    <!-- Scripts-->
    <script src="js/vendor.min.js"></script>

    <script src="js/sweetalert2.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="page-container">
      <div class="content--canvas"></div>
      <header>
        <div class="d-flex justify-content-between align-items-center">
          <div class="col-md-3"><img src="images/logo.png" alt="Logo" class="logo"/></div>
          <div class="col-md-6">
            <div class="navigation-wrapper">
              <ul class="leaderboard-navigation2 d-flex">
                <li class="dropdown d-flex justify-content-center">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Sales</button>
                  <div class="dropdown-menu">
                    <div>
                      <h6 class="dropdown-header">Individual</h6>
                      <ul class="d-flex dropdown-menu-link">
                        <li><a href="#" class="dropdown-item">Best Call Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Amount Race</a></li>
                        <li><a href="#" class="dropdown-item">Best New Customer Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Overal Race</a></li>
                      </ul>
                    </div>
                    <div>
                      <h6 class="dropdown-header">Team</h6>
                      <ul class="d-flex dropdown-menu-link">
                        <li><a href="#" class="dropdown-item">Best Call Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Amount Race</a></li>
                        <li><a href="#" class="dropdown-item">Best New Customer Race</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="dropdown d-flex justify-content-center">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Buying</button>
                  <div class="dropdown-menu">
                    <div>
                      <h6 class="dropdown-header">Individual</h6>
                      <ul class="d-flex dropdown-menu-link">
                        <li><a href="#" class="dropdown-item">Best Call Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Amount Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Vendor Race</a></li>
                        <li><a href="#" class="dropdown-item">Lead Open Daily</a></li>
                      </ul>
                    </div>
                    <div>
                      <h6 class="dropdown-header">Team</h6>
                      <ul class="d-flex dropdown-menu-link">
                        <li><a href="#" class="dropdown-item">Best Call Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Amount Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Vendor Race</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="dropdown d-flex justify-content-center">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Leadgen</button>
                  <div class="dropdown-menu">
                    <div>
                      <h6 class="dropdown-header">Individual</h6>
                      <ul class="d-flex dropdown-menu-link">
                        <li><a href="#" class="dropdown-item">Best Call Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Amount Race</a></li>
                        <li><a href="#" class="dropdown-item">Best New Customer Race</a></li>
                        <li><a href="#" class="dropdown-item">Best Overal Race</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <div id="month-countdown" class="d-inline-flex"></div>
          </div>
        </div>
      </header>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div data-title="" class="col-md-3 col-sm-12 d-flex justify-content-center flex-column leaderboard-name section-title">
              <div id="particles-js" class="user-info"></div>
            </div>
            <div style="padding-left:50px; padding-right:50px;" class="col-md-6 col-sm-12 d-flex justify-content-center flex-column">
              <div class="leaderboard"></div>
            </div>
            <div data-title="Achievement unlocked" class="col-md-3 col-sm-12 d-flex justify-content-center flex-column section-title">
              <ul class="notification"></ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Footer-->
      <!-- End Main Footer-->
    </div>
    <script id="leaderboardNavigationTemplate" type="text/x-jquery-tmpl">
      <li class="pointer z-depth-2 hoverable rating" data-rating="${id}">${name}</li>
      
    </script>
    <script id="leaderboardItemTemplate" type="text/x-jquery-tmpl">
      <div class="leaderboard-item d-flex justify-content-between" data-score="${score}" sort-value="${score}">
        <div style="flex:1">
          {{each(prop, val) users}}
            <div class="person" >
                <img class="z-depth-2" src="{{if avatar != ''}} ${avatar} {{else}}images/empty_user.png{{/if}}" alt="Winner" />
                <span class="name">${name}</span>
            </div>
          {{/each}}
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <i class="ion ion-md-trophy"></i>
        </div>
        <span class="value z-depth-2 d-flex align-items-center justify-content-center">
            ${score}%
            {{if shortcoming_procent != 0}}
              <span class="shortcoming">-${shortcoming_procent}%</span>
            {{/if}}
        </span>
      </div>
      
    </script>
    <script id="notificationItemTemplate" type="text/x-jquery-tmpl">
      <li class="z-depth-5 hoverable d-flex align-items-center">
        <img class="z-depth-3" src="${avatar}" alt="" />
        <div class="d-flex flex-column notification-content">
          <span class="font-weight-bold mb-1">${name}</span>
          <span>${text}</span>
        </div>
      </li>
    </script>
  </body>
</html>

jade/pages/index.jade
extends ../layouts/_body

block content
  .wrapper
    .container-fluid
      .row
        .col-md-3.col-sm-12.d-flex.justify-content-center.flex-column.leaderboard-name.section-title(data-title="")
          .user-info#particles-js

        .col-md-6.col-sm-12.d-flex.justify-content-center.flex-column(style="padding-left:50px; padding-right:50px;")
          .leaderboard

        .col-md-3.col-sm-12.d-flex.justify-content-center.flex-column.section-title(data-title="Achievement unlocked")
          ul.notification


block scripts

  script#leaderboardNavigationTemplate(type='text/x-jquery-tmpl').
    <li class="pointer z-depth-2 hoverable rating" data-rating="${id}">${name}</li>

  script#leaderboardItemTemplate(type='text/x-jquery-tmpl').
    <div class="leaderboard-item d-flex justify-content-between" data-score="${score}" sort-value="${score}">
      <div style="flex:1">
        {{each(prop, val) users}}
          <div class="person" >
              <img class="z-depth-2" src="{{if avatar != ''}} ${avatar} {{else}}images/empty_user.png{{/if}}" alt="Winner" />
              <span class="name">${name}</span>
          </div>
        {{/each}}
      </div>
      <div class="d-flex align-items-center justify-content-center">
          <i class="ion ion-md-trophy"></i>
      </div>
      <span class="value z-depth-2 d-flex align-items-center justify-content-center">
          ${score}%
          {{if shortcoming_procent != 0}}
            <span class="shortcoming">-${shortcoming_procent}%</span>
          {{/if}}
      </span>
    </div>

  script#notificationItemTemplate(type='text/x-jquery-tmpl').
    <li class="z-depth-5 hoverable d-flex align-items-center">
      <img class="z-depth-3" src="${avatar}" alt="" />
      <div class="d-flex flex-column notification-content">
        <span class="font-weight-bold mb-1">${name}</span>
        <span>${text}</span>
      </div>
    </li>
